@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	background-color: #f6f8fd;
}

.nav-link > a:hover {
	color: white;
}

.menu-box:hover {
	background-color: teal;
}

.card {
	position: relative;
	box-shadow: 5px 8px 5px rgba(0, 0, 0, 20%);
}

.card > div > img {
	position: absolute;
	z-index: -1;
	inset: 0;
	object-fit: cover;
	transition: 200ms;
}

.card:hover div > img {
	transform: scale(1.05);
}

.btn:active {
	box-shadow: 5px 8px 5px rgba(0, 0, 0, 20%);
}
